In [2]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.10/dist-packages (0.13.2)
Requirement already satisfied: fiona>=1.8.19 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.9.4.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from geopandas) (23.1)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from geopandas) (1.5.3)
Requirement already satisfied: pyproj>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (3.6.0)
Requirement already satisfied: shapely>=1.7.1 in /usr/local/lib/python3.10/dist-packages (from geopandas) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (23.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (2023.5.7)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (8.1.4)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (0.7.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from fiona>=1.8.19->geopandas) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.0->geopandas) (1.22.4)

In [3]:
!pip install point

Collecting point
  Downloading point-0.0.1.tar.gz (1.4 kB)
  Preparing metadata (setup.py) ... done
Collecting six==1.11.0 (from point)
  Downloading six-1.11.0-py2.py3-none-any.whl (10 kB)
Building wheels for collected packages: point
  Building wheel for point (setup.py) ... done
  Created wheel for point: filename=point-0.0.1-py3-none-any.whl size=1680 sha256=8fb0b2bf01412dab2e422f8020d794a153f1902f96e054d3403a43ad890a2cd1
  Stored in directory: /root/.cache/pip/wheels/d6/f2/71/555df6f070640944015630065118e27e4003f5a5abfdc6a5c8
Successfully built point
Installing collected packages: six, point
  Attempting uninstall: six
    Found existing installation: six 1.16.0
    Uninstalling six-1.16.0:
      Successfully uninstalled six-1.16.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gspread-dataframe 3.3.1 requires six>=1.12.0, but you have six 1.11.0 which is incompatible.
tensorflow 2.12.0 requires six>=1.12.0, but you have six 1.11.0 which is incompatible.
Successfully installed point-0.0.1 six-1.11.0

In [4]:
!pip install polygon

Collecting polygon
  Downloading polygon-1.1.0-py2.py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.9/98.9 kB 9.5 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from polygon) (2.27.1)
Collecting websockets (from polygon)
  Downloading websockets-11.0.3-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.9/129.9 kB 14.7 MB/s eta 0:00:00
Requirement already satisfied: websocket-client in /usr/local/lib/python3.10/dist-packages (from polygon) (1.6.1)
Collecting httpx (from polygon)
  Downloading httpx-0.24.1-py3-none-any.whl (75 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 75.4/75.4 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx->polygon) (2023.5.7)
Collecting httpcore<0.18.0,>=0.15.0 (from httpx->polygon)
  Downloading httpcore-0.17.3-py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.5/74.5 kB 8.2 MB/s eta 0:00:00
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx->polygon) (3.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx->polygon) (1.3.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->polygon) (1.26.16)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->polygon) (2.0.12)
Collecting h11<0.15,>=0.13 (from httpcore<0.18.0,>=0.15.0->httpx->polygon)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.4 MB/s eta 0:00:00
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx->polygon) (3.7.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5.0,>=3.0->httpcore<0.18.0,>=0.15.0->httpx->polygon) (1.1.2)
Installing collected packages: websockets, h11, httpcore, httpx, polygon
Successfully installed h11-0.14.0 httpcore-0.17.3 httpx-0.24.1 polygon-1.1.0 websockets-11.0.3

In [5]:
!pip install quadkey

Collecting quadkey
  Downloading quadkey-0.0.5.tar.gz (3.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: quadkey
  Building wheel for quadkey (setup.py) ... done
  Created wheel for quadkey: filename=quadkey-0.0.5-py3-none-any.whl size=4545 sha256=1a9b4a56f037c52039fb3f6a7de3597aeac900b572cc8a51f9fec3ed09ab15dd
  Stored in directory: /root/.cache/pip/wheels/b5/84/cf/90c405a4408056ed5ba3d48d56fb6fd62cfd5e03f489571d17
Successfully built quadkey
Installing collected packages: quadkey
Successfully installed quadkey-0.0.5

In [6]:
!pip install pyquadkey2

Collecting pyquadkey2
  Downloading pyquadkey2-0.2.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.whl (136 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 136.5/136.5 kB 12.1 MB/s eta 0:00:00
Installing collected packages: pyquadkey2
Successfully installed pyquadkey2-0.2.2

In [7]:
# Import all required python packages
import pandas as pd
import geopandas as gpd # for managing & interacting with shapefiles
from shapely.geometry import Point # for working with planar point
from shapely.geometry.polygon import Polygon # for working polygon geometries
# Calculating the relationship between XY coordinates & quadkey values
from pyquadkey2 import quadkey

In [8]:
# Create function to calculate the adm. area that contains an input point
def get_point_in_polygon(lat, lon, polygons):
    """
    @param lat: double
    @param lon: double
    @param polygons: dict
    @return geo_id: str
    """
    point = Point(lon, lat)
    for geo_id in polygons:
        polygon = polygons[geo_id]
        if polygon.contains(point):
            return geo_id
    return 'null'

In [ ]:
# shapefile = gpd.read_file('E:/GEOJSON/gadm36_IDN_1.shp')

# polygons = dict(zip(shapefile['GID_1'], shapefile['geometry']))
# print(shapefile.shape)
# shapefile.head()

In [12]:
# Read in the admn. area shp and create the polygon dictionary
shapefile = gpd.read_file('Administrasi_Kecamatan.shp')
polygons = dict(zip(shapefile['idkec'], shapefile['geometry']))
print(shapefile.shape)
shapefile.head()

(585, 18)

,FID,gid,kdkab,kdkec,kdprov,nmkab,nmkec,nmprov,idkec,periode,sumber,Shape_Leng,Shape_Area,InPoly_FID,SimPgnFlag,MaxSimpTol,MinSimpTol,geometry
0,5.0,15.0,01,010,33,CILACAP,DAYEUHLUHUR,JAWA TENGAH,3301010,2019,BPS,0.754595,0.014959,5.0,0.0,0.004497,0.004497,"POLYGON ((108.64317 -7.14193, 108.64372 -7.141..."
1,37.0,51.0,01,020,33,CILACAP,WANAREJA,JAWA TENGAH,3301020,2019,BPS,0.891239,0.016161,37.0,0.0,0.004497,0.004497,"POLYGON ((108.69243 -7.17462, 108.69755 -7.175..."
2,57.0,99.0,01,030,33,CILACAP,MAJENANG,JAWA TENGAH,3301030,2019,BPS,0.659846,0.013651,57.0,0.0,0.004497,0.004497,"POLYGON ((108.69445 -7.15687, 108.69431 -7.157..."
3,95.0,190.0,01,050,33,CILACAP,KARANGPUCUNG,JAWA TENGAH,3301050,2019,BPS,0.617946,0.010321,95.0,0.0,0.004497,0.004497,"POLYGON ((108.91693 -7.30380, 108.91788 -7.304..."
4,152.0,311.0,01,080,33,CILACAP,KEDUNGREJA,JAWA TENGAH,3301080,2019,BPS,0.435466,0.006638,152.0,0.0,0.004497,0.004497,"POLYGON ((108.72369 -7.44505, 108.72946 -7.448..."

In [14]:
# Import Indonesia RWI data
rwi = pd.read_csv('idn_relative_wealth_index.csv')

In [15]:
# Infer which admn. regions contains the centroid of the RWI tile
rwi['geo_id'] = rwi.apply(lambda x: get_point_in_polygon(x['latitude'], x['longitude'], polygons), axis=1)
rwi = rwi[rwi['geo_id'] != 'null']
print(rwi.shape)
rwi

(5589, 5)

        latitude   longitude    rwi  error   geo_id
17     -7.307985  109.259033  0.221  0.514  3302210
18     -7.547656  109.215088  0.564  0.503  3302050
21     -6.915520  109.918213  0.165  0.457  3325081
28     -7.111795  110.115967 -0.309  0.488  3323121
31     -6.828261  111.478272 -0.005  0.438  3317030
...          ...         ...    ...    ...      ...
115554 -7.547656  109.962158  0.454  0.514  3306130
115561 -6.697343  111.148682  0.337  0.539  3318080
115571 -6.980954  109.742432  0.029  0.521  3325010
115587 -6.959144  109.324951  0.195  0.533  3328180
115590 -6.937333  109.896240 -0.076  0.548  3325090

[5589 rows x 5 columns]

In [16]:
# Create the zoom level 14 quadkey id that contains each 2,4km RWI
rwi['quadkey'] = rwi.apply(lambda x: str(quadkey.from_geo((x['latitude'], x['longitude']), 14)), axis=1)
print(rwi.shape)
rwi.head(20)

(5589, 6)

     latitude   longitude    rwi  error   geo_id         quadkey
17  -7.307985  109.259033  0.221  0.514  3302210  31001303103302
18  -7.547656  109.215088  0.564  0.503  3302050  31001303123010
21  -6.915520  109.918213  0.165  0.457  3325081  31001310223032
28  -7.111795  110.115967 -0.309  0.488  3323121  31001312010211
31  -6.828261  111.478272 -0.005  0.438  3317030  31001311230223
47  -7.329778  110.181885  1.105  0.531  3323030  31001312012330
57  -6.719165  111.302490 -0.137  0.493  3317090  31001311221021
59  -6.937333  109.105225  0.445  0.497  3328120  31001301322301
71  -7.525873  108.797607 -0.157  0.566  3301080  31001303030333
72  -7.525873  109.017334 -0.413  0.517  3302020  31001303120223
89  -7.264394  110.972900 -0.505  0.490  3315050  31001312113032
92  -7.460518  109.588623  0.298  0.510  3304040  31001303131211
97  -7.525873  110.972900  0.349  0.520  3313150  31001312131232
107 -6.566389  111.038818  1.141  0.527  3318200  31001310313123
108 -7.612997  109.698486  0.521  0.517  3305110  31001312022022
128 -6.631870  110.775147  0.507  0.529  3320060  31001310312221
133 -6.893707  110.950928 -0.175  0.496  3318010  31001310333021
142 -7.765423  109.654541  0.576  0.525  3305060  31001303311130
163 -7.787193  109.676514 -0.037  0.461  3305060  31001303311133
169 -7.917793  110.797119 -0.538  0.459  3312100  31001312312012

In [ ]:
# Load the population density dataset
population = pd.read_csv('E:/Dataset/rwi_indo/idn_general_2020.csv')
population = population.rename(columns={'idn_general_2020': 'pop_2020'})

In [ ]:
population.head(10)

   longitude  latitude  pop_2020
0  99.671250  7.000139  2.447083
1  99.724861  7.000139  2.447083
2  99.725139  7.000139  2.447083
3  99.757917  7.000139  2.447083
4  99.847917  7.000139  3.024791
5  99.848194  7.000139  3.024791
6  99.848750  7.000139  3.024791
7  99.849028  7.000139  3.024791
8  99.849583  7.000139  3.024791
9  99.850417  7.000139  3.024791

In [ ]:
# Calculate the zoom level 14 quadkey id for each 30m pop estimate
population['quadkey'] = population.apply(lambda x: str(quadkey.from_geo((x['latitude'], x['longitude']), 14)), axis=1)
print(population.shape)
population.head()

(53958288, 4)

   longitude  latitude  pop_2020         quadkey
0  99.671250  7.000139  2.447083  13222132111000
1  99.724861  7.000139  2.447083  13222132111010
2  99.725139  7.000139  2.447083  13222132111010
3  99.757917  7.000139  2.447083  13222132111100
4  99.847917  7.000139  3.024791  13222133000000

In [ ]:
# Calculate the pop per quadkey and load the result aggregate using sum
bing_tile_z14_pop = population.groupby('quadkey', as_index=False)['pop_2020'].sum()

In [ ]:
bing_tile_z14_pop.head()

          quadkey    pop_2020
0  13222033303022   41.359305
1  13222033321121    6.362970
2  13222033321123   34.996335
3  13222033321132  244.974345
4  13222033321133  108.170490

In [ ]:
# Perform inner join using the quadkey field as the commong join field
rwi_pop = rwi.merge(bing_tile_z14_pop[['quadkey', 'pop_2020']], on='quadkey', how='inner')

In [ ]:
# Create a dataframe containing a pop estimate for each admn. area
geo_pop = rwi_pop.groupby('geo_id', as_index=False)['pop_2020'].sum()
geo_pop = geo_pop.rename(columns={'pop_2020': 'geo_2020'})

In [ ]:
# Perform inner join using the geo_id as a common join field
rwi_pop = rwi_pop.merge(geo_pop, on='geo_id', how='inner')

In [ ]:
# Calculate a pop weight value by dividing the pop each RWI with pop each admn.
rwi_pop['pop_weight'] = rwi_pop['pop_2020'] / rwi_pop['geo_2020']

In [ ]:
# Weighted RWI value by multiplying the original RWI score with pop weight
rwi_pop['rwi_weight'] = rwi_pop['rwi'] * rwi_pop['pop_weight']

In [ ]:
# Aggregate the weighted RWI value by each admn. area using sum method
geo_rwi = rwi_pop.groupby('geo_id', as_index=False)['rwi_weight'].sum()

In [ ]:
geo_rwi

      geo_id  rwi_weight
0    3300000    0.121463
1    3301010   -0.066016
2    3301020    0.465525
3    3301030    0.485363
4    3301040    0.271473
..       ...         ...
568  3375040    1.009980
569  3376010    0.795000
570  3376020    1.328000
571  3376030    1.025873
572  3376040    0.718853

[573 rows x 2 columns]

In [ ]:
# Export the result
geo_rwi.to_excel("RWI_Weighted_Pop_Jateng.xlsx")
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.